body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('assets/pixil-layer-Layer 4.png');
    background-color: rgb(255, 255, 255);
    background-repeat: repeat-x;
    background-size:auto;
    margin-inline: auto;
    align-items: center;
    width: 910px;
    height: auto;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-optical-sizing: auto;
    color: #910616;
    font-size: 20px;
    margin:5px;
}

footer{
    color:#000000;
    text-align: center;
    font-size: small;
}

button {
    margin: 20px;
    padding: 10px;
    width: 300px;
    color: #ffffff;
    font-family: 'Jacquard 24';
    font-size: 20px;
    background-color: #d1061b;
    border-color: rgb(0, 0, 0);
}
button:hover{
    color: #d1061b;
    background-color: #ffffff;
    width: 310px;
    animation: hover-animation 0.5s;
    animation-fill-mode: forwards;
    
}

#indexButtons{
    display: flexbox;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    opacity: 0%;
    animation: fade-in 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
}
#indexButtons div{
    
    background-color: #d1061b;
}
#MainBody{
    margin-inline: auto;
    align-items: center;
    
}

.text {
    margin-inline: auto;
    text-align: center;
    opacity: 0%;
    animation: fade-in 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
}

#gif {
    margin-top: 20px;
    opacity: 0%;
    animation: fade-in 10s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

#mainTitle {
    font-family: 'Jacquard 24';
    font-weight: 400;
    font-size: 70px;
    color: #d1061b;
    margin-bottom: 10px;
}

#logo-back {
    width: 300px;
    height: auto;
    margin-inline: auto;
    align-items: center;
    animation: logo-back-animation 2.5s;
    scale: 100%;
    animation-timing-function: cubic-bezier(0.2, 1, 0, 1);

}

#logo-text {
    width: 300px;
    position: relative;
    top: -205px;
    left: 5px;
    animation: logo-text-animation 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    opacity: 0%;
}

#logo {
    height: 200px;
    width: 300px;
    margin-inline: auto;
}

#backBUTTON{
    width:100px;
}
#global-count{
    font-size: small;
}

@keyframes logo-back-animation {
    from {
        scale: 0;
        rotate: 0;
    }

    to {
        scale: 1;
        rotate: 720deg Y;
    }

}

@keyframes logo-text-animation {
    from {
        opacity: 0%;
        scale: 2;
    }

    to {
        scale: 1;
        opacity: 100%;
    }
}

@keyframes hover-animation{
    to{scale: 1.05;}
}

@keyframes fade-in{
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}